venv/
.venv/
__pycache__/
*.pyc
node_modules/
frontend/node_modules/
imdb-dashboard/node_modules/
logs/
dist/
build/
.DS_Store
archive_unused/
/.env
/*.log
movies_final.json
npm-debug.log*
.idea/
.vscode/
.env
venv/
.venv/
frontend/public/movies_final_autosave.json
frontend/src/movies_final_autosave.json